<h1><%= @msg %></h1>
<table class="table table-dark table-striped">
  <tr>
    <th>#</th><th>title</th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
    <td><%= obj.id %></td>
    <td><%= link_to(obj.title,"/#{obj.id}",{class:"link-light"})%></td>
  </tr>
  <% end %>
</table>