<p><%= @msg %></p>
<table class="table table-dark table-striped">
  <tr>
    <th>#</th><th>title</th>
  </tr>
  <% @data.each do |obj| %>
  <tr>
    <td><%= obj.id %></td>
    <td><%= link_to(obj.title,"/#{obj.id}")%></td>
  </tr>
  <% end %>
</table>