<main class="px-3">
    <h1><%= @msg %></h1>
    <table class="table table-dark table-striped">
      <tr><th>#</th>
        <td><%= @data.id %></td>
      </tr>
      <tr><th>title</th>
        <td><%= @data.title %></td>
      </tr>
      <tr><th>content</th>
        <td><%= @data.content %></td>
      </tr>
    </table>
  </main>
