<header class="mb-auto">
    <div>
      <h3 class="float-md-start mb-0">ToDo</h3>
      <nav class="nav nav-masthead justify-content-center float-md-end">
        <a class="nav-link active" aria-current="page" href="#">INDEX</a>
        <a class="nav-link " aria-current="page" href="#">ADD</a>
      </nav>
    </div>
  </header>